/*カラーパレット*/
$palette-black: #333333;
$palette-white: #FFFFFF;
$palette-grey: #E8E8E8;
$palette-dark-grey: #CCCCCC;
$palette-red: #FF2A2A;
$palette-accent-red: #FF0133;
$palette-deep-red: #7A051C;
$palette-light-blue: #E9F1FB;

$background-color-primary: $palette-white;
$background-color-secondary: $palette-red;
$text-color: $palette-black;
$text-color-white: $palette-white;
$btn-color: $palette-accent-red;
$btn-shadow: $palette-deep-red;
$balloon-color: $palette-light-blue;
$icon-color: $palette-dark-grey;

/*フォントサイズ*/
$font-size-m: 36px;
$font-size-s: 16px;

$font-size-title: $font-size-m;
$font-size-text: $font-size-s;


/*mixin*/
@mixin wrapper {
    max-width: 860px;
    width: 100%;
    margin: 0 auto;
}

@mixin title {
    font-size: $font-size-title;
    font-weight: bold;
    border-bottom: 3px solid $text-color;
    padding-bottom: 27px;
    display: inline-block;
}

@mixin btn {
    padding: 17px 47px;
    color: $text-color-white;
    background-color: $btn-color;
    border: 1px solid $btn-color;
    border-radius: 50px;
    transition: 0.5s;
    &:hover {
        background-color: $background-color-primary;
        color: $btn-color;
    }
}


/*----- body -----*/

body {
    font-family: sans-serif,"游ゴシック";
    padding-top: 150px;
}


/*----- header -----*/

.header {
    padding: 40px 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color:$background-color-primary;

    &__logo {
        width: 100px;
    }

    &__img {
        max-width: 100%;
    }

    &__menu {
        display: flex;
        align-items: center;
        font-size: $font-size-s;
    }

    &__list {
        display: flex;
    }

    &__item {
        font-weight: bold;
        margin-right: 40px;
    }

    &__btn {
        @include btn;
    }
}


/*----- mainVisual -----*/

.mainVisual {
    height: 720px;/*背景のアニメーションができたら不要かも*/
    margin-bottom: 124px;
    position: relative;

    &__unit {
        position: absolute;
        top: 270px;
        left: 135px;
    }

    &__title {
        font-size: 46px;
        font-weight: bold;
        line-height: 73px;
        letter-spacing: 10px;
        margin-bottom: 33px;
    }

    &__btn {
        padding: 18px 135px;
        color: $text-color-white;
        background-color: $btn-color;
        border: 1px solid $btn-color;
        border-radius: 5px;
        box-shadow: 0 4px $btn-shadow;
    }
}

/*----- reason -----*/

.reason {
    text-align: center;

    &__title {
        @include title;
        margin-bottom: 107px;
    }

    &__unit {
        background-color: $background-color-secondary;
        padding: 80px 0;
    }

    .reasonLeft {
        width: 50%;
        position: relative;
        background-color: $background-color-primary;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 70px 0;
        margin-bottom: 40px;

        &__img {
            width: auto;
            height: 60px;
        }

        &__unit {
            text-align: left;
            margin-left: 30px;
        }

        &__heading {
            font-size: 28px;
            color: $background-color-secondary;
            margin-bottom: 7px;
        }

        &__text {
            font-size: 18px;
        }
    }

    .reasonRight {
        width: 50%;
        position: relative;
        background-color: $background-color-primary;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 70px 0;
        margin: 0 0 0 auto;

        &__img {
            width: auto;
            height: 60px;
        }

        &__unit {
            text-align: left;
            margin-left: 30px;
        }

        &__heading {
            font-size: 28px;
            color: $background-color-secondary;
            margin-bottom: 7px;
        }

        &__text {
            font-size: 18px;
        }
    }
}


/*----- studentVoice -----*/
.studentVoice {
    @include wrapper;
    text-align: center;
    padding: 124px 0 140px;

    &__title {
        @include title;
        margin-bottom: 107px;
    }

    .student1 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 80px;

        &__unit {
            margin-right: 25px;
            width: 10%;
        }

        &__img {
            background-color: $icon-color;
            border-radius: 50%;
            width: 100%;
            margin-bottom: 10px;
        }

        &__name {
            font-size: 12px;
        }

        &__text {
            padding: 23px;
            background-color: $balloon-color;
            border-radius: 10px;
            position: relative;
            display: inline-block;
            width: 60%;
            text-align: justify;
            letter-spacing: 1px;

            &::before {
                content: '';
                position: absolute;
                display: block;
                width: 0;
                height: 0;
                left: -15px;
                top: 60%;
                border-right: 15px solid $balloon-color;
                border-top: 15px solid transparent;
                border-bottom: 15px solid transparent;
            }
        }
    }

    .student2 {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 80px;

        &__unit {
            margin-left: 25px;
            width: 10%;
        }

        &__img {
            background-color: $icon-color;
            border-radius: 50%;
            width: 100%;
            margin-bottom: 10px;
        }

        &__name {
            font-size: 12px;
        }

        &__text {
            padding: 23px;
            background-color: $balloon-color;
            border-radius: 10px;
            position: relative;
            display: inline-block;
            width: 60%;
            text-align: justify;
            letter-spacing: 1px;

            &::before {
                content: '';
                position: absolute;
                display: block;
                width: 0;
                height: 0;
                right: -15px;
                top: 60%;
                border-left: 15px solid $balloon-color;
                border-top: 15px solid transparent;
                border-bottom: 15px solid transparent;
            }
        }
    }

    .student3 {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &__unit {
            margin-right: 25px;
            width: 10%;
        }

        &__img {
            background-color: $icon-color;
            border-radius: 50%;
            width: 100%;
            margin-bottom: 10px;
        }

        &__name {
            font-size: 12px;
        }

        &__text {
            padding: 23px;
            background-color: $balloon-color;
            border-radius: 10px;
            position: relative;
            display: inline-block;
            width: 60%;
            text-align: justify;
            letter-spacing: 1px;

            &::before {
                content: '';
                position: absolute;
                display: block;
                width: 0;
                height: 0;
                left: -15px;
                top: 60%;
                border-right: 15px solid $balloon-color;
                border-top: 15px solid transparent;
                border-bottom: 15px solid transparent;
            }
        }
    }
}




/*----- outline -----*/

.outline {
    background-image: url(img/bg.gif);
    background-repeat: repeat;
    text-align: center;
    padding: 64px 0 60px;

    &__title {
        @include title;
        margin-bottom: 100px;
    }

    &__inner {
        @include wrapper;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        width: 45%;
        padding: 53px 61px 63px;
        background-color: $background-color-primary;
        border-radius: 20px;
        margin-bottom: 32px;
    }

    &__heading {
        font-size: 28px;
        font-weight: bold;
        letter-spacing: 3px;
        margin-bottom: 33px;
    }

    &__subheading {
        font-size: 18px;
        display: block;
        letter-spacing: 3px;
        padding-top: 24px
    }

    &__text {
        text-align: justify
    }
}


/*----- application -----*/

.application {
    @include wrapper;
    padding: 120px 0;
    text-align: center;

    &__heading {
        font-size: 32px;
        font-weight: bold;
        letter-spacing: 3px;
        margin-bottom: 10px;
    }

    &__text {
        font-size: 18px;
        letter-spacing: 3px;
        margin-bottom: 43px;
    }

    &__btn {
        @include btn;
        font-size: 28px;
        display: block;
    }
}


/*----- footer -----*/

.footer {
    background-color: $palette-grey;
    padding: 60px 0 20px;

    &__unit {
        display: flex;
        justify-content: space-between;
        width: 860px;
        margin: 0 auto;
        font-size: $font-size-text;
    }

    &__menu {
        margin-bottom: 65px;
    }

    &__title {
        font-weight: bold;
        margin-bottom: 15px;
    }

    &__item {
        margin-bottom: 8px;
    }

    &__copyright {
        text-align: center;
        font-size: 10px;
    }

}